@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/TTTravels-Regular.woff2') format('woff2'),
  url('../fonts/TTTravels-Regular.woff') format('woff')
}

@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
  url('../fonts/TTTravels-Demibold.woff2') format('woff2'),
  url('../fonts/TTTravels-Demibold.woff') format('woff')
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'TTTravels', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-black);
}

img {
  max-width: 100%;
}

.p-reset {
  margin: 0;
  padding: 0;
}

.title-reset {
  margin: 0;
  padding: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-sl_blue: #6b46d4;
}

.site-container {
  overflow: hidden;
}

.container {
  max-width: 1712px;
  margin: 0 auto;
  padding: 0 12px;
}

.site-title {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.events {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 57px ;
  padding-top: 133px;
  padding-bottom: 230px;
}

.event {
  display: grid;
  grid-template-rows: 41px 105px 1fr 1fr 30px 42px 43px;
  padding: 25px 30px 35px;
  background: var(--color-white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.event__date {
  display: block;
  font-weight: 500;
  line-height: 22px;
}

.event__logo {
  height: 90px;
}

.event__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 29px;
}

.event__brief {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.location,
.site {
  display: flex;
}

.location__icon,
.site__icon {
  margin-right: 7px;
}

.location__place,
.site__url {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.site__url {
  color: var(--color-black);
  text-decoration-line: underline;
}

.buttons {
  display: flex;
  align-items: center;
}

.button__primary {
  margin-right: 30px;
  padding: 9px 20px;
  line-height: 22px;
  color: var(--color-white);
  background-color: var(--color-sl_blue);
  text-decoration-line: none;
}

.button_secondary {
  line-height: 22px;
  text-decoration-line: underline;
  color: var(--color-sl_blue);
}

.footer {
  background-color: var(--color-black);
}

.footer__container {
  padding-bottom: 35px;
}

.contacts {
  display: flex;
}

.contacts__left {
  padding-top: 60px;
  width: 50%;
}

.contacts__right {
  width: 100%;
  background-image: url("../img/ontico2022.png");
  background-repeat: no-repeat;
  background-position: right;
}

.contacts__list {
  margin-bottom: 65px;
  font-weight: 400;
}

.contacts__item:not(:last-child) {
  margin-bottom: 24px;
  color: var(--color-white);
}

.contacts__title {
  font-weight: 500;
  line-height: 22px;
  color: var(--color-white);
}

.contacts__address {
  color: var(--color-white);
  font-style: normal;
}

.calendar {
  display: flex;
}

.calendar__left {
  display: flex;
  align-items: center;
  padding-left: 23px;
  width: 20%;
}

.calendar__year {
  padding-top: 12px;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: -0.05em;
  color: var(--color-white);
}

.calendar__right {
  display: flex;
  padding-right: 40px;
  align-items: center;
  width: 100%;
}

.month {
  position: relative;
  width: 100%;
}

.month__divider {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  opacity: 0.35;
}

.month__list {
  display: flex;
  align-items: center;
}

.month__item:not(:last-child) {
  margin-right: 59px;
}

.month__name:hover {
  cursor: pointer;
}

.month__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.month__name {
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.05em;
  color: var(--color-white);
}

.month__name::before {
  content: '';
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: currentColor;
  opacity: 0;
}

.month__input:checked + .month__name::before {
  opacity: 1;
}
