@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/TTTravels-Regular.woff2') format('woff2'),
  url('../fonts/TTTravels-Regular.woff') format('woff')
}

@font-face {
  font-family: 'TTTravels';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
  url('../fonts/TTTravels-Demibold.woff2') format('woff2'),
  url('../fonts/TTTravels-Demibold.woff') format('woff')
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'TTTravels', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-white);
}

img {
  max-width: 100%;
}

.address-reset {
  font-style: normal;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff0000;
  --color-haiti: #262529;
  --color-sl_blue: #6b46d4;
  --color-pink_swan: #b5b5b5;
  --color-persimmon: #ea4a00;
  --color-cerulean: #00709e;
  --color-brown: #b13230;
  --color-tang_yellow: #ffcb00;
  --color-el_indigo: #8800ff;
  --color-whisper: #ededed;
  --color-malibu : #61b2d6;
  --color-cobalt: #005da7;
  --color-med_blue: #0217ca;
  --color-e_indigo: #5900ff;
}

.site-container {
  overflow: hidden;
}

.container {
  max-width: 1944px;
  margin: 0 auto;
  padding: 0 14px;
}

.site-title {
  position: absolute;
  height: 0;
  overflow: hidden;
}

.footer {
  background-color: var(--color-black);
}

.footer__container {
  padding-top: 63px;
  padding-bottom: 35px;
}

.contacts {
  display: flex;
}

.contacts__left {
  width: 31%;
}

.contacts__right {
  width: 100%;
  background-image: url("../img/ontico2022.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

.contacts__list {
  margin-bottom: 65px;
  font-weight: 400;
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__title {
  margin-right: 5px;
  font-weight: 500;
}

.calendar {
  display: flex;
}

.calendar__left {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
}

.calendar__year {
  padding: 40px 0;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: -0.05em;
}

.calendar__right {
  display: flex;
  align-items: center;
  width: 100%;
}

.month {
  position: relative;
  width: 100%;
}

.month__divider {
  position: absolute;
  top: 6px;
  left: 0;
    width: 100%;
  height: 2px;
  background-color: var(--color-white);
  opacity: 0.35;
}

.month__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month__item:not(:last-child) {
  margin-right: 58px;
}

.month__name:hover {
  cursor: pointer;
}

.month__input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.month__name {
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.05em;
}

.month__name::before {
  content: '';
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: currentColor;
  opacity: 0;
}

.month__input:checked + .month__name::before {
  opacity: 1;
}
